$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;


// Custom CSS

$color-white: #fff;
$color-light-grey: #999;
$color-grey: #666;
$color-grey-darker: #4d4d4d;
$color-black: #000;

$site-color1: #6760fa; //nav menu button color
$site-color2: rgb(32, 27, 39); //nav menu button color
$site-color3: #4c45d6; //hero gradient color 1
$site-color4: #603eab; //hero gradient color 2
$site-color5: #2b2f36; //stages section color
$site-color6: #6760fa; //stages highlight color
$site-color7: #e6e6e6; //card color
$site-color8: #444a75; //card color
$site-color9: #2a2842; //rewards section color
$site-color10: #170f40; //footer section color
$site-color11: #5542c3;; //Navbar color


    

// $link-color1: #d31c5d; //button color
$link-color1: #d31c5c; //button color

