.navbar {

	&__container {
		position: fixed;
		top: 0;
		height: 7rem;
		width: 100%;
		transition: all .3s;
		z-index: 9999;
		-webkit-box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.9);
		-moz-box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.9);
		box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.9);
	}
	
	&__header {
		position: relative; 
		height:100%;
		width: 100%;
	}

	&__header {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		display: flex;
		justify-content: space-between;
	
	}
	
	&__logo {
		/* border: 1px solid red; */
		margin-left: 4rem;
		height: 100%;
		padding: 1rem;
	}
	
	&__toggle {
		display: none;
		flex-direction: column;
		justify-content: center;
		height: 100%;
	}
	
	&__btn {
		cursor: pointer;
		width: 4rem;
		height: 4rem;
	}
	
	&__top {
		position: relative;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		height: 100%;
		list-style: none;
		margin: 0 5rem 0 20rem;
		visibility: visible;
		z-index: 2500;
	}
	
	&__item {
		flex-shrink: 0;
		height: 100%;
	}

	&__extra-item {
		display: flex;
		justify-content: center;
		padding: 1.5rem 0;
		height: auto;
	}
	
	&__extra-item button.navbar__link {
		border-radius: .3rem;
	}

	&__link {
		cursor: pointer;
		color: white;
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		font-size: 1.4rem;
		letter-spacing: -0.5px;
		font-weight: 600;
		padding: .8rem .6rem;
		text-decoration: none;
		transition: color .3s;

		&:visited {
			color: white;
		}

		&:hover {
			color: $link-color1;
		}

	}
	
	
	&__separator {
		display: none;
	}
	&__hamburger {
		width: 100%;
		height: auto; 
		/* border: 1px solid brown; */
	}

	&__link:hover &__link--arrow {
		border-color: #ff0066;
		width: .8rem;
		height: .8rem;
	}

	.navbar__btn--white {
		margin-left: .5rem;
		transition: none; 
	}
	
	&__btn--white:hover {
		color: #6760fa;
		background-color: #fff;
		border-color: #6760fa; 
	}
	
	&__btn--purple {
		margin-left: .5rem;
		border-color: #6760fa;
		background-color: #6760fa !important;
		// transition: all .2s; 
	}
	
	&__btn--purple:hover {
		color: #6760fa;
		background-color: #fff !important;
		border-color: #fff; 
	}

	&__dropdown {
		position: relative;
	}

}
	
.dropdown {

	&-menu {
		// display: none;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: flex-start;
		position: absolute;
		left: 1.5rem;
		top: 7rem;
		border-top: 2px solid $color-white;
		background-color: rgba($color-black, 0.9);
		border-bottom-left-radius: .3rem;
		border-bottom-right-radius: .3rem;
		overflow: hidden;
		visibility: hidden;
		opacity: 0;
		transition: opacity .2s;
		-webkit-box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.9);
		-moz-box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.9);
		box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.9);
		
	}

	&__item {
		width: 100%;
	}

	&__link {
		display: block;
		padding: .5rem 1rem;
		transition: color .3s;

		&:link, &:visited {
			color: $color-white;
		}

		&:hover {
			color: $link-color1;
			background-color: $color-white;
		}
	}
	
}


.btn {
	cursor: pointer;
	color: #fff;
	background-color: transparent;
	/* padding: 0 15px; */
	font-size: 1.4rem;
	/* line-height: 2.8rem; */
	font-weight: 400;
	border: none; 
}

.arrow {
	border: solid #fff;
	border-width: 0 .2rem .2rem 0;
	display: inline-block;
	padding: .2rem;
	margin-left: .5rem;
	margin-bottom: .2rem; 
}

.down {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg); 
}


.navbar__dropdown:hover .dropdown-menu {
	visibility: visible!important;
	opacity: 1!important;
}
	
	
.dropdown__toggle {
	display: flex;
	flex-direction: row;
	align-items:center;
	padding: 0;
}


	

.btn__outline--white {
	color: #fff;
	border: .1rem solid #fff;
}

.min-nav {
	background-color: rgba($color-black,0.9);
}

.min-links{
	top: 5rem;
}
	
#sign__in {
	margin-left: .5rem;
}

.footer__nav {

	margin-bottom: 2rem;

	&-item {
		display: inline-block;
		font-size: 1.3rem;
		padding: 1rem;
	}
	
	&-link, &-link:visited {
		
		color: $color-white;

		&:active,
		&:hover {
			color: $link-color1;
		}
	}

}


// MEDIA QUERIES------------------------------------------------------

@media only screen and (max-width: 1310px) {

	.navbar {
		&__container{
			height:7rem;
			background-color: rgba($color-black, 0.8);
		}       
	
		&__header {
			z-index: 3000;
			background-color: $site-color11;
		}
	
		&__top {
			display: block;
			visibility: hidden;
			opacity: 0;
			overflow: hidden;
			margin: 0;
			padding-bottom: 1rem;
			// height: auto;
			height: 100vh;
			background-color: rgba(0,0,0,0.95);
			transition: opacity .5s;
			overflow-y: visible;
		}
	
		&__toggle {
			display: flex;
			margin-right: 4rem;
		}
		
		&__separator {
			display: block;
			margin-top: 7rem;
			width: 100%;
			height: .2rem;
			border-bottom: .2rem solid rebeccapurple;
		}
		
		&__logo {
			display: inline-block;
			position: absolute;
			left: 0;
			top: 0;
		}
	
		&__item {
			// height: 100%;
			height: auto;
		}
	
		&__extra-item {
			padding: .4rem 0;
		}

		&__btn--purple {
			 margin-left: 0; 
		}
		
		&__link {
			display: flex;
			flex-direction: row;
			justify-content: center;
		}
	
		&__link:hover {
			color: #000;
			background-color: #fff;
		}
	
		&__extra-item button.navbar__link {
			width: 6rem;
			width: 10rem;
		}


		&__btn {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			position: fixed;
			top: 1.5rem;
			right: 6rem;
			width: 4rem;
			height: 4rem;
			background-color: $site-color1;
			border-radius: .5rem;
			z-index: 2000;
			-webkit-box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.9);
			-moz-box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.9);
			box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.9);
			transition: all .3s;
		}

		&__line {

			&, &::before,&::after {
				position: relative;
				display: block;
				width: 2rem;
				height: .2rem;
				background-color: $color-white;
			}


			&::before,&::after {
				content: "";
				position: absolute;
				left: 0;
				transition: all .2s;
			}

			&::before {
				top: -.5rem;
			}

			&::after {
				top: .5rem;
				}
			
		}

		&__toggle-container {
			display: visible;
		}

	}

	.navbar__dropdown:hover .dropdown-menu {
		top: -14.4rem;
		width: 100%;
		visibility: visible;
		opacity: 1;
		border:none;
		border-left: 2px solid $color-white;
		border-radius: 0;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
		@include gradient-bg;
		
	}
    
	#sign__in {
		margin-left: 0;
	}

    
}



@media only screen and (max-width: 992px) {
	.navbar {
		&__logo {
			margin-left: 1rem;
		}

		&__btn {
			margin-right: -4rem;
		}
	}
}	

@media only screen and (max-width: 640px) {
	
	#hero.hero {
		padding: 2rem;
		padding-top: 5rem;
	}
}

//Toggle menu status flag
.on-toggle {
	
	background-color: transparent;	

	&::before {
		top: 0;
		transform: rotate(45deg);
	}

	&::after {
		top: 0;
		transform: rotate(-45deg);
	}
}

